.home {
  width: 100%;
  color: white;
  position: relative;

  .particlesContainer {
    position: absolute;
    right: 0;
    top: 80px;
    width: 552px;
    height: 592px;
    overflow: hidden;

    .particles {
      img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }

  .login {
    position: absolute;
    left: 100px;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .socialButtons {
      a {
        width: 80px;
        height: 80px;
        opacity: 0.5;
        transition: all ease 0.5s;
        margin-right: 20px;

        &:hover {
          opacity: 0.9;
        }

        img {
          width: 80px;
          height: 80px;
        }
      }
    }

    .title {
      font-size: 20px;
      margin-bottom: 20px;
      color: rgba(255,255,255,0.9);
    }
  }
}
